{% extends 'base.html' %}

{% block css %}

<style>
    code {
        font-family: monospace;
    }
    pre {
        background-color: #e6e9ed;
        max-height: 200px;
        max-width: 1000px;
    }
</style>

{% endblock css %}


{% block content %}


    <div id="intro" class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1 class="text-center mt-5 py-5 text-primary">Bulk Upload Products</h1>
            </div>

            <div class="col-lg-8 mx-auto ">
                <p id='message' class="text-center mt-3 alert-success"> </p>

                {% if messages %}
                <ul style="list-style: none;" class="text-center mt-3 alert-success">
                    {% for message in messages %}
                    <li class="{{ message.tags }} ">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

    
            <!-- form -->
            <div class="col-lg-6 mx-auto mt-4 mb-2">
                <form id="form"  action="{% url 'products_bulk_upload' %}" method="POST" enctype="multipart/form-data">
                        <p id="head"></p>
                        
                    {% csrf_token %}

                        <div class="form-group">
                            <label for="upload-file"><strong>Upload CSV File:</strong></label>
                            <br> 
                            {% comment %} <input id="file" type="file" name='file' accept=".zip" class="form-control-file" required> {% endcomment %}
                            <input id="file" type="file" name='file' accept="text/csv" class="form-control-file">

                            <!-- Used for file url-->
                           	<input type="hidden" id="file_url" name="file_url" value="">

                            <br> 
                
                        <button type="submit" id="submit" class="btn btn-block btn-primary mt-3 disabled"> <i class="fas fa-plus"></i>
                            Submit</button>
                    </div>
                </form>
            </div>


            <div class="col-lg-8 mx-auto">
                <pre id='stream-content'>
                  
                </pre>
            </div>
           
        </div>
    </div>

{% endblock content %}

{% block javascript %}

<script>
  
  var eventSource  = new EventSource("{% url 'stream_response' %}");

  eventSource.onopen = function() {
    console.log('Yay! its open?');
  }

  eventSource.onmessage = function(e) {
    console.log(e)
    final_data = JSON.parse(e.data)
    content = "";

    final_data.forEach(function (item){
      content += buildPostContent(item['name'], item['sku'], item['is_active'], item['created_at'])
    })

      document.getElementById('stream-content').innerHTML = content;
      console.log(content)
  }

  eventSource.onerror = function(e) {
    console.log(`error: ${e}`);
  }

  function buildPostContent(name, sku, is_active, created_at) {

    content = `<code> --> Creating:  ${name}, ${sku}, ${is_active}, ${created_at} </code> <br>`
	return content

  }

</script>


<script type="text/javascript">
    
    (function() {
        document.getElementById("file").onchange = function(){
        var files = document.getElementById("file").files;
        var file = files[0];
        if(!file){
            return alert("No file selected.");
        }
        getSignedRequest(file);
        };
    })();

    function getSignedRequest(file){
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/signed-url?file_name="+file.name);
        xhr.onreadystatechange = function(){
        if(xhr.readyState === 4){
            if(xhr.status === 200){
                var response = JSON.parse(xhr.responseText);
                uploadFile(file, response.url);
            }
            else {
                alert("Could not get signed URL.");
            }
        }
        };
        xhr.send();
    }

    function uploadFile(file, url){
        var xhr = new XMLHttpRequest();
        xhr.open("PUT", url);
        document.getElementById("message").innerHTML = "Started to upload.. Please wait..";
        var postData = new FormData();
      //  for(key in s3Data.fields){
       //     postData.append(key, s3Data.fields[key]);
       // }
        postData.append('file', file);

        xhr.onreadystatechange = function() {
        if(xhr.readyState === 4){
            if(xhr.status === 200 || xhr.status === 204){
                document.getElementById("message").innerHTML = "Upload completed please, submit.";
                document.getElementById("file_url").value = url;
                document.getElementById("submit").classList.remove("disabled");

            }
        else{
            document.getElementById("message").innerHTML = "";
            alert("Could not upload file.");

            }
        }
        };
        xhr.send(postData);
    }

</script>



{% comment %} <script>
   // FOR AJAX Upload of file

    $(document).on('submit', '#form', function(e){
        var form = $(this);
	    var form_data = new FormData();
		var ins = document.getElementById('file').files.length;

        for (var x = 0; x < ins; x++) {
            form_data.append("file", document.getElementById('file').files[x]);
        }

        $.ajax({
            url: form.attr("action"),
            data: form_data,
            type: form.attr("method"),
            dataType: 'json',
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function(){
                $('#submit').html('<i class="fa fa-spinner fa-spin"></i> Uploading..');
            }, 
            success: function (data) {
                $('#submit').html(data.msg);

            },
            error: function (data) {
                $('#submit').html('<i class="fas fa-plus"></i> Upload File');
			    alert('An unexpected error occurred') // display error response
			},
        })
        return false;
    });
</script> {% endcomment %}

{% endblock javascript %}